absl-py==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-types==0.7.0
async-timeout==5.0.1
attrs==25.4.0
audioread==3.1.0
auraloss==0.4.0
black==26.1.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
contourpy==1.3.2
cycler==0.12.1
decorator==5.2.1
docstring_parser==0.17.0
einops==0.8.2
filelock==3.20.3
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2026.2.0
gitdb==4.0.12
GitPython==3.1.46
grpcio==1.78.0
hessian_eigenthings @ git+https://github.com/noahgolmant/pytorch-hessian-eigenthings.git@dce2e54a19963b0dfa41b93f531fb7742d46ea04
hf-xet==1.2.0
huggingface_hub==0.36.2
hypy_utils==1.0.29
idna==3.11
importlib_resources==6.5.2
Jinja2==3.1.6
joblib==1.5.3
jsonargparse==4.46.0
kiwisolver==1.4.9
lazy_loader==0.4
librosa==0.10.2.post1
lightning==2.6.1
lightning-utilities==0.15.2
llvmlite==0.46.0
Markdown==3.10.1
MarkupSafe==3.0.3
matplotlib==3.10.8
mpmath==1.3.0
msclap==1.3.4
msgpack==1.1.2
multidict==6.7.1
mypy_extensions==1.1.0
networkx==3.4.2
nnaudio==0.3.4
numba==0.63.1
numpy==1.26.4
nvidia-ml-py==13.590.48
nvitop==1.6.2
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1769093650/work
pandas==2.3.3
pathspec==1.0.4
pillow==12.1.0
pip-chill==1.0.3
platformdirs==4.5.1
pooch==1.9.0
propcache==0.4.1
protobuf==6.33.5
psutil==7.2.2
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pyloudnorm==0.2.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytokens==0.4.1
pytorch-lightning==2.6.1
pytz==2025.2
PyYAML==6.0.3
regex==2026.1.15
requests==2.32.5
safetensors==0.7.0
scikit-learn==1.7.2
scipy==1.15.3
sentry-sdk==2.52.0
six==1.17.0
smmap==5.0.2
soundfile==0.13.1
soxr==1.0.0
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
threadpoolctl==3.6.0
tokenizers==0.22.2
tomli==2.4.0
torch==2.8.0
torchaudio==2.8.0
torchcodec==0.10.0
torchlibrosa==0.1.0
torchmetrics==1.8.2
torchvision==0.23.0
tqdm==4.67.3
transformers==4.57.6
typeshed_client==2.8.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
uv==0.10.0
wandb==0.24.2
Werkzeug==3.1.5
yarl==1.22.0
